* {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #798e94;
}


body {
    width: 400px;
    margin: auto;
    background-color: #E2ECEE;
}

.section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile {
    margin-bottom: 20px;
}

.nombre {
    font-weight: bold;
    font-size: 18px;
}

.descripcion {
    margin-bottom: 20px;
    padding-top: 20px;
}

.skills {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.skills div {
    margin: 10px;
    width: calc(30% - 20px);
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.skills:hover {
    background-color: #eee;
    cursor: pointer;
}

.skills--Java:hover{
    background-color: #E2ECEE;
    cursor: pointer;
}

.skills--Kotlin:hover{
    background-color: #E2ECEE;
    cursor: pointer;
}

.skills--MySQL:hover{
    background-color: #E2ECEE;
    cursor: pointer;
}

.skills--Ces:hover{
    background-color: #E2ECEE;
    cursor: pointer;
}

.skills--HTMLCSS:hover{
    background-color: #E2ECEE;
    cursor: pointer;
}

.projects {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.projects div {
    margin: 10px;
    width: calc(45% - 10px);
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.projects:hover{
    background-color: #eee;
    cursor: pointer;
}

.projects--Spring:hover{
    background-color: #E2ECEE;
    cursor: pointer;
}

.projects--Proyecto2:hover{
    background-color: #E2ECEE;
    cursor: pointer;
}

.contact {
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1em;
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 0 0 3px #dde9ec;
}

.contact:hover{
    background-color: #eee;
    cursor: pointer;
}

.contact label {
    display: block;
    font-weight: bold;
}

.contact div {
    margin-bottom: 15px;
}

.contact input[type='text'],.contact textarea {
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
}

.contact input[type='submit'] {
    border: 1px solid #CED5D7;
    box-shadow: 0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
}

.contact input[type='submit']:hover {
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 10%);
}

h2 {
    text-align: center;
}

.nombre {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.star-icon {
    font-size: 10px;
    color: #ffd700;
    cursor: pointer;
}

.star-icon:hover {
    color: #ffc400;
}


.skills--Java.star-icon {
    font-size: 20px;
}