<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <title>Document</title>
</head>
<body>
<section class="section">
    <div class="profile">
        <div class="nombre">Miguel</div>

        <div class="descripcion"></div>
    </div>

    <h2>Lenguajes</h2>
    <div class="skills">
        <div class="skills--Java" th:each="l: ${lenguajes}">
            <span th:text="${l.nombre}"></span>
            <br>
            <span th:each="estrella: ${l.nivel}">★</span>

        </div>

    </div>

    <h2>Proyectos</h2>
    <div class="projects">
        <div class="projects--Spring" th:each="p: ${proyectos}">
            <h3 th:text="${p.nombre}"> </h3>
            <br>
            <ul>
                <li th:each="lu: ${p.lenguajesUtilizados}" th:text="${lu.nombre}"></li>
            </ul>
        </div>

    </div>

    <h2>Formulario</h2>
    <form class="contact" method="post" action="/">
        <label for="nombre">Nombre:</label><input type="text" value="" name="nombre" id="nombre">
        <label for="email">Email:</label><input type="email" value="" name="email" id="email">
        <label for="telefono">Telefono:</label><input type="text" value="" name="telefono" id="telefono">
        <input type="submit" value="Enviar datos de contacto">
    </form>

</section>
</body>
</html>